.input_rows {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container {
  width: 100%;
}
input,
.searchBox {
  width: 100%;
}
